In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('energydata_complete.csv')

In [4]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [5]:
x = df['T2']
y = df['T6']

In [6]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [7]:
from sklearn.linear_model import LinearRegression

In [10]:
model = LinearRegression()
x_train_reshape = np.array(x_train).reshape(-1,1)
y_train_reshape = np.array(y_train).reshape(-1,1)
model.fit(x_train_reshape,y_train_reshape)

LinearRegression()

In [12]:
x_test_reshape = np.array(x_test).reshape(-1,1)
y_pred = model.predict(x_test_reshape)

In [13]:
from sklearn.metrics import r2_score
r = r2_score(y_test,y_pred)

In [15]:
round(r,2)

0.64

In [80]:
me = df.drop(columns=['date','lights'])
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
norm = pd.DataFrame(scaler.fit_transform(me),columns=me.columns)
feature = me.drop(columns=['Appliances'], axis = 1)
target = me['Appliances']

In [86]:
X_train, X_test, Y_train, Y_test = train_test_split(feature,target,test_size=0.7,random_state=42)

In [87]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [88]:
model2 = LinearRegression()
model2.fit(X_train,Y_train)

LinearRegression()

In [89]:
y_pred3 = model2.predict(X_test)

In [92]:
mae = mean_absolute_error(Y_test,y_pred3)
round(mae,2)

53.54

In [93]:
rmse = np.sqrt(mean_squared_error(Y_test,y_pred3))
round(rmse,2)

95.91

In [94]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(X_train, Y_train)

Ridge(alpha=0.4)

In [95]:
pred = ridge_reg.predict(X_test)

In [96]:
rmse3 = np.sqrt(mean_squared_error(Y_test,pred))
round(rmse3,3)

95.91

In [77]:
from sklearn.linear_model import Lasso
laas_reg = Ridge(alpha=0.001)
laas_reg.fit(X_train, Y_train)

Ridge(alpha=0.001)

In [78]:
pred5 = ridge_reg.predict(X_test)

In [79]:
rmse5 = np.sqrt(mean_squared_error(Y_test,pred))
round(rmse5,3)

93.641